*
{
    padding:0;
    margin: 0;
   line-height: 20px;
}
body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-image: url('../img/okuhle.jpg');
}


header
{
	color: #FFFFFF;
	min-height: 50px;
	border-bottom: #FFFFFF 1px solid;
	background: black;
}

header li
{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;

}

header #branding h1
{
	float: left;
	padding-left: 7px;
	margin-top: 10px;
}

header nav 
{
	float: right;
	margin-top: 15px;
}

header a
{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px;
}

header nav a:hover
{
	text-decoration: underline;
}

#branding .current
{
	text-decoration: underline;
}

.current
{
	text-decoration: underline;
}

#showcase
{
	min-height: 400px;
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	background-color: #000000;
	border-bottom: #FFFFFF 1px solid;

}
#showcase h1
{
	margin: 0px 0 80px 0;
	padding-top: 20px;
}
#showcase p:hover
{
	//margin: 10px 0 10px 0;
	line-height: 40px;
}
#boxes img
{
	height: 150px;
	width: 20%;
	float: left;
	display: inline;
	border-bottom: #FFFFFF 1px solid;
	margin-bottom: 200px;
}
#problem_statement
{
	margin: 20px 200px 20px 100px;
	padding: 20px;
	color: #FFFFFF;
	background: transparent;
	border: #FFFFFF 1px solid;
}
#problem_statement:hover
{
	background-color: #000000;
}
#problem_statement h1
{
	margin-bottom: 15px;
}
#proposed_solution
{
	margin: 20px 200px 20px 100px;
	padding: 20px;
	color: #FFFFFF;
	background: transparent;
	border: #FFFFFF 1px solid;
}
#proposed_solution:hover
{
	background-color: #000000;
}
#proposed_solution h1
{
	margin-bottom: 15px;
}
#specifications
{
	margin: 20px 200px 20px 100px;
	padding: 20px;
	color: #FFFFFF;
	background: transparent;
	border: #FFFFFF 1px solid;
}
#specifications:hover
{
	background-color: #000000;
}
#specifications h1
{
	margin-bottom: 15px;
}

#constraints
{
	margin: 20px 200px 20px 100px;
	padding: 20px;
	color: #FFFFFF;
	background: transparent;
	border: #FFFFFF 1px solid;
}
#constraints:hover
{
	background-color: #000000;
}

#constraints h1
{
	margin-bottom: 15px;
}
#end_goal
{
	margin: 20px 200px 20px 100px;
	padding: 20px;
	color: #FFFFFF;
	background: transparent;
	border: #FFFFFF 1px solid;
}
#end_goal:hover
{
	//background-color: gold;
	background: url('../img/okuhle.jpg') repeat -120px -200px;
}

#end_goal h1
{
	margin-bottom: 15px;
}
/*#white_background
{
	background-color: #FFFFFF;
}
*/
#problem_statement1
{
	margin: 20px 200px 20px 100px;
	padding: 20px;
	color: #FFFFFF;
	background: transparent;
	border: #FFFFFF 1px solid;
}

#problem_statement1 h1
{
	margin-bottom: 15px;
}
#proposed_solution1
{
	margin: 20px 200px 20px 100px;
	padding: 20px;
	color: #FFFFFF;
	background: #000000;
	border: #000000 1px solid;
}
#proposed_solution1:hover
{
	background: transparent;
	border: #FFFFFF 1px solid;
}
#specifications1:hover
{
	background: black;
	border: #FFFFFF 1px solid;
}
#proposed_solution1 h1
{
	margin-bottom: 15px;
}
#proposed_solution11
{
	margin: 20px 50px 20px 50px;
	padding: 20px;
	color: #FFF;
	background: #000000;
	border: #000000 1px solid;
	width: 50%;
	float: left;
}
#proposed_solution11 h1
{
	margin-bottom: 15px;
}
#specifications1
{
	margin: 20px 200px 20px 100px;
	padding: 20px;
	color: #FFFFFF;
	background: transparent;
	border: #FFFFFF 1px solid;
}
#specifications1 h1
{
	margin-bottom: 15px;
}
#specifications11
{
	margin: 20px 50px 20px 50px;
	padding: 20px;
	color: #FFFFFF;
	background: transparent;
	border: #FFFFFF 1px solid;
	width: 50%;
	float: left;
}
#specifications11 h1
{
	margin-bottom: 15px;
}

#constraints1
{
	margin: 20px 200px 20px 100px;
	padding: 20px;
	color: #FFFFFF;
	background: #000000;
	border: #000000 1px solid;
}
#constraints1:hover
{
	background-color:transparent;
	border: #FFFFFF 1px solid;
	
}

#constraints1 h1
{
	margin-bottom: 15px;
}

#sidebar
{
	margin: 20px 50px 20px 50px;
	padding: 20px;
	color: #FFFFFF;
	background: #000000;
	border: #FFFFFF 1px solid;
	width: 30%;
	position: absolute;
	//top: 50px;
	//left: 800px;
	top: 8%;
	left: 58%;
	min-height: 680px;
	background-color: transparent;
}
#sidebar h1
{
	margin-bottom: 15px;
}


footer p
{
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
}

footer p:hover
{
	font-weight: bold;
}

@media(max-width: 768px)
{
header
{
	min-height: 100px;
	font-size: 11px;
}
header li
{
    float: center;
    display: inline;
    padding: 0 5px 0 5px;
}
#problem_statement, #proposed_solution, #specifications, #constraints, #end_goal, #problem_statement1, #proposed_solution1, #specifications1, #constraints1,
#sidebar, #proposed_solution11, #specifications11
{
	margin: 10px 20px 10px 20px;
	padding: 10px;
	font-size: 11px;
}

header a
{
	font-size: 12px;
}
}
